body{
  background-color: ivory; 
}

nav {
  position: fixed; 
  border-top: 0; 
}

img{
  display: block;
  margin: 20px auto;
  border: 3px dashed pink;
} 

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-decoration: underline wavy navy
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightpink;
  font-family: cursive;
}
h1{
  font-family: sarif; 
  color: lightpink; 
}
p {
  color: lightpink;
  text-align: center; 
  font-size: 20px; 
}

li {
  font-family: cursive; 
  color: navy
}

iframe {
display: block;
  margin: 20px auto;
 width: 392px;
  height: 620px;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: cursive;
}

ul li a:hover {
  background-color: navy;
}
